body {
    margin: 0;
    padding: 0;
    position: relative;
}
.container {
    min-height: 430px;
}
.main {
    min-height: 390px;
    position: relative;
}
.main img {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}
.footer {
    width: 340px;
    height: 40px;
    line-height: 40px;
    background-color: #FFFFFF;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
   /* bottom: 0;*/
    margin: auto;
}
.footer img {
    width: 20px;
    height: 20px;
    margin: auto 10px;
}