/* 设置滚动条的样式 */
::-webkit-scrollbar {
    width:6px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius:6px;
    background-color:#D2D2D2;
}
::-webkit-scrollbar-thumb:window-inactive {
    /*background:rgba(255,0,0,0.4);*/
}
body{
    overflow: hidden;
}
.chat-person,.chat-area, .send-area{
    padding:0 20px;
}
.drag{
     -webkit-app-region: drag;
 }
.non-drag{
    -webkit-app-region: no-drag;
}
.container{
    width: 100%;
    overflow:hidden;
    position: relative;
}
.left{
    width: 60px;
    background-color: rgb(40,40,41);
    text-align: center;
    position:relative;
}

.left ul li{
    margin-top:20px;
}
.left ul li:hover{
    cursor: pointer;
}
.left ul li img{
    width:29px;
}
#profile{
    width: 35px;
}
#settings{
    position: absolute;
    left:10px;
    bottom: 10px;
}
.median{
    width: 230px;
    background-color: #EEEAE8;
}
.right{
    width: 495px;
    min-width: 300px;
    background-color: #F5F5F5;
}
.separator{
    width:100%;
    position: absolute;
    top:60px;
    border-bottom:solid 1px #e7e7e7;
}

.left, .median{
    float: left;
    height: 530px;
}
.right{
    position: fixed;
    left:290px;
}
.search{
    padding:0 6px 6px 8px;
    margin-top:20px;
    position: relative;
}
.search i{
    width:200px;
    position: absolute;
    left: 15px;
    top: 7px;
    color:#636363;
    font-size:12px;
}
#search-input{
    background-color:#DBD9D8;
    border-radius: 8px;
    border:1px solid #DBDBDB;
    height: 20px;
    padding:2px;
    width: 170px;
}
.add-friend{
    width: 20px;
    vertical-align: middle;
    margin-left: 4px;
    padding:1px 6px;
    border-radius: 5px;
    cursor:pointer;
    font-size:1.2em;
    background-color: #DCD9D8;
}
.add-friend:hover{
    background-color: #D1D1D1;
}
.nickname{
    position: absolute;
    font-weight: 500;
    color:#000000;
    top:10px;
}
.last-date{
    color: #999999;
    float:right;
    font-size:0.7em;
}
.last-msg{
    position:absolute;
    bottom:10px;
    color:#999999;
    font-size: 0.7em;
    width:150px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.nickname, .last-msg{
    left:55px;
}
.conversations li{
    padding:10px;
    height: 40px;
    position: relative;
}

.conversations li:hover{
    background-color: #DFDDDB;
}
.conversations li img{
    width:40px;
}
.conversations li .badge{
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    background-color: red;
    color: #FFF;
    font-size: 8px;
    border-radius: 50%;
    bottom: 50px;
    left: 32px;
    position: absolute;
    z-index: 1000;
    display: inline!important;
    position: absolute;
    top: 5px;
    left: 40px;
}
.conversations li .hidden{
    display: none;
}
.conversations li.active{
    background-color: #BCBDBE;
}
.chat-person{
    font-size: 1.2em;
    height: 60px;
    font-weight: bold;
    line-height: 70px;
    position: relative;
}
.fun-area{
    display: inline;
    position: absolute;
    right:0;
    top:0;
    z-index:10;
    line-height: 5px;
}
.fun-area span{
    padding: 10px;
    cursor:pointer;
    display: inline-block;
}
.fun-area .red-bg:hover{
    background-color: #F45454;
    color:#ffffff;
}
.fun-area .gray-bg:hover{
    background-color: #E3E3E3;
}
.myself, .myself-content{
    float:right;
}
.other-person, .other-person-content{
    float:left;
}
.myself img, .other-person img{
    width:35px;
}

.chat-area{
    height:338px;
    overflow-y: scroll;
    font-size:14px;
}
.chat-area .more-info span{
    color: #2C90FC;
    font-size: 0.8em;
    cursor: pointer;
}
.chat-area .more-info{
    text-align: center;
    padding-bottom: 10px;
}
.chat-area li{
    padding-bottom: 8px;
}
.chat-area .oldest-time-area{
    text-align: center;
    padding-bottom: 10px;
}
.chat-area .oldest-time-area .oldest-time{
    background-color: #DADADA;
    padding: 3px 5px;
    color: #FFFFFF;
    font-size: 0.9em;
}
.clear{
    clear:both;
}
span.myself{
    background-color:#9EEA6A ;
    margin-right:10px;
}
span.other-person{
    margin-left:10px;
    background-color: #ffffff;
}
a.myself-content, a.other-person-content{
    position: relative;
}
a.myself-content{
    margin-right:10px
}
a.other-person-content{
    margin-left: 10px;
}
a.myself-content img, a.other-person-content img{
    max-width: 250px
}
span.myself:after, a.myself-content:after, span.other-person:before, a.other-person-content:before{
    width:0;
    height:0;
    border:4px solid transparent;
    position: absolute;
    top:6px;
    content:""
}
span.other-person:before, a.other-person-content:before{
    border-right-color:#FFFFFF ;
    right:100%;
}
a.other-person-content:before {
    border-right-color: #000000;
}
.chat-area div.img-msg {
    position: relative;
}
span.myself:after, a.myself-content:after{
    border-left-color:#9EEA6A ;
    left:100%;
}
a.myself-content:after{
    border-left-color: #000000;
}
span.myself, span.other-person{
    padding:4px 4px 4px 10px;
    line-height:25px;
    font-weight: 500;
    position:relative;
    max-width: 65%;
    word-break: break-all;
}
.send-area{
    background-color: #ffffff;
    height: 130px;
    position: relative;

}
.send-area .content{
    overflow-y: scroll;
    overflow-x: hidden;
    height:100px;
}
.menu-area{
    height: 20px;
    padding:5px;
}
.menu-item{
    position: relative;
}
.menu-area img{
    width:20px;
}
.content textarea{
    border: none;
    width:100%;
    height: 80%;
    resize: none;
    font-size:14px;
}
.content .img-area li img{
}
.content .img-area ul, .content .img-area li, .content .img-area{
    display: inline;
}
.send-btn{
    padding:5px 8px;
    position:absolute;
    bottom: 10px;
    right:25px;
    border:0;
    background-color: #F5F5F5;
}
.send-btn span{
    font-size: 13px;
}
.send-btn:hover{
    background-color: #129611;
    color:#FFFFFF;
}

.relationships li{
    height: 50px;
    line-height: 50px;
    cursor: pointer;
}
.relationships .title-span, .fri-num{
    font-size: 14px;
    font-weight: 400;
}
.relationships li b{
    margin-left: 10px;
}
.relationships .arrow-border {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0 10px;
    border-top: 1px solid #BEBEBE;
    border-right: 1px solid #BEBEBE;
}
.relationships .arrow-right {
    transform: rotate(45deg);
}
.relationships .arrow-down {
    margin-bottom: 2px;
    transform: rotate(135deg);
}
.relationships .fri-num {
    float: right;
    margin-right: 15px;
    color: #BEBEBE;
}
.rel-list, .friend-list {
    margin-left: 30px;
}
.rel-list p {
    font-size: 12px;
    color: #BEBEBE;
}
.rel-list hr{
    height: 1px;
    border: none;
    border-top: 1px solid #D3D3D3;
}
.rel-list li{
    height: 50px;
    line-height: 50px;
}
.rel-list img {
    width: 30px;
    vertical-align: middle;
    margin-right: 10px;
}
.rel-list li span {
    font-size: 14px;
    font-weight: 400;

}
.friend-list div{
    height: 54px;
    line-height: 54px;
}
.friend-list img{
    width: 30px;
    vertical-align: middle;
    margin-right: 10px;
}
.friend-list hr{
    height: 1px;
    border: none;
    border-top: 1px solid #D3D3D3;
    margin: 2px auto;
}
.friend-list li{
    position: relative;
}
.nickname-span{
    left:40px;
    position: absolute;
    top: -9px;
    font-size: 12px;
}
.call-span{
    position: absolute;
    bottom: -15px;
    font-size: 12px;
    color: #999;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.status-span{
    color: #999999;
    float:right;
    font-size:0.7em;
    top: -9px;
    right: 10px;
    position: absolute;
}
.rel-detail{
    width: 60%;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}
.rel-detail .rel-title{
    height: 80px;
}
.rel-detail .rel-title span{
    vertical-align:text-top;
    font-size: 25px;
}
.rel-detail img{
    width: 80px;
    display: inline;
    float: right;
}
.rel-detail hr{
    height: 1px;
    border: none;
    border-top: 1px solid #D3D3D3;
    margin: 20px auto
}
.rel-detail .rel-content li{
    height: 30px;
    line-height: 30px;
    font-size: 14px
}
.rel-detail .title{
    color: #BEBEBE;
}
.rel-detail .msg{
    margin-left: 30px;
}
.rel-detail button{
    width: 120px;
    height: 30px;
    font-size: 14px;
    color: #FFFFFF;
    background-color: #1AAD19;
    margin: 50px auto;
    display: block;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
.bomb-box{
    width: 340px;
    height: 260px;
    position: absolute;
    margin-top: 20px;
    margin-left: 60px;
    background-color: #FFFFFF;
    z-index: 1000;
}
.bomb-box-content{
    width: 80%;
    height: 80%;
    position: absolute;
    margin: 35px auto auto 34px;
}
.bomb-box-content .name{
    font-size: 18px;
    margin: 8px 0;
}
.bomb-box-content .wx{
    font-size: 14px;
    margin: 8px 0;
    color: #A9A9A9;
}
.bomb-box-content .imgUrl{
    width: 60px;
    height: 60px;
    display: inline;
    float: right;
}
.bomb-box-content hr{
    height: 1px;
    border: none;
    border-top: 1px solid #D3D3D3;
    margin: 30px auto
}
.bomb-box-content .address{
    margin-left: 30px;
    font-size: 14px;
}
.bomb-box-content .icon{
    height: 30px;
    margin-top: 30px;
    float: right;
}
.bomb-box-content .share{
    width: 25px;
    height: 30px;
    margin-left: 30px;
}
.bomb-box-content .msg{
    width: 34px;
    height: 35px;
    margin-left: 28px;
}
span.videa-chat{
    float: right;
}
.chat-scroll{
    overflow-y: auto;
}

