<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/image-enlarge.css">
</head>
<body>
    <div id="app" class="container drag">
        <div class="top">
            <img src="imgs/close.png" @click="closeWin">
        </div>
        <div class="main" id="mainDiv">
            <img id="img" :src="imageUrl" @load="drawImage($event)" class="non-drag" :style="{width: widthData+'px', height: heightData+'px'}">
        </div>
        <div class="footer">
            <a v-if="isLeft">
                <img src="imgs/left.png" @click="page(true)">
            </a>
            <a v-else>
                <img src="imgs/left-1.png">
            </a>
            <a v-if="isRight">
                <img src="imgs/right.png" @click="page(false)">
            </a>
            <a v-else>
                <img src="imgs/right-1.png">
            </a>
            <a v-if="isNarrow">
                <img src="imgs/narrow.png" @click="enlarge(false)">
            </a>
            <a v-else>
                <img src="imgs/narrow-1.png">
            </a>
            <a v-if="isEnlarge">
                <img src="imgs/enlarge.png" @click="enlarge(true)">
            </a>
            <a v-else>
                <img src="imgs/enlarge-1.png">
            </a>
            <img src="imgs/rotation.png" @click="rotation">
        </div>
    </div>
</body>
<script src = "js/image_enlarge.js"></script>
</html>