<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
<div id="app" class="container">
    <!--左侧导航-->
    <nav-left v-bind:user="user" v-bind:isfloat="isFloat" v-bind:isShow="isShow" v-bind:isShow2="isShow2" v-on:change-show="updateShow" v-on:show-user="showUserDtl"></nav-left>
    <div class="bomb-box" v-show="isFloat">
        <div class="bomb-box-content">
            <div>
                <span class="name">{{ user.nickname }}</span>
                <img class="imgUrl" :src="user.imgUrl">
                <p class="wx">微信号：<b>{{ user.userId }}</b></p>
            </div>
            <hr>
            <div>
                <span class="wx">地&nbsp;&nbsp;&nbsp;区</span>
                <span class="address">湖北 武汉</span>
            </div>
            <div class="icon">
                <img class="share" src="imgs/share.png">
                <img class="msg" src="imgs/msg.png">
            </div>
        </div>
    </div>
    <div class="median" id="median">
        <div class="search">
            <i class="fa fa-search"></i>
            <input class="" id="search-input" type="text" placeholder=""/>
        </div>
        <!--会话列表-->
        <div class="conversations" v-show="isShow">
            <ul>
                <li v-for="(conversation) in conversations" v-on:click="showHistoryMessageByClick(conversation)"  v-bind:class="{active: conversation.destId==chatPerson.destId}">
                    <div >
                        <input type="hidden" value="{{conversation.destId}}">
                        <input type="hidden" value="{{conversation.msgId}}">
                        <span>
                            <img v-bind:src="conversation.imgUrl">
                            <div style="display: none;" v-bind:class="{badge: conversation.destId!=chatPerson.destId && (unReadMsgCnt[conversation.destId]>0 || unReadMsgCnt[conversation.destId]=='99+')}">
                                {{unReadMsgCnt[conversation.destId]}}
                            </div>
                        </span>
                        <span>
                            <span class="nickname">{{conversation.nickname}}</span>
                            <span class="last-date">{{conversation.lastDate}}</span>
                            <span class="last-msg">{{conversation.lastMsg}}</span>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
        <!--好友列表-->
        <div class="relationships" v-show="isShow2">
            <ul>
                <li @click="openNewFriends(isOpenNewFriend)">
                    <b class="arrow-border arrow-right"></b>
                    <span class="title-span">新的朋友</span>
                    <span class="fri-num">{{newFriendsCount == 0 ? "" : newFriendsCount}}</span>
                </li>
                <div class="friend-list" v-show="isOpenNewFriend">
                    <ul>
                        <div v-for="(friend,index) in newFriends">
                            <li @click="openDetail(friend.userId)">
                                <div >
                                    <input type="hidden" value="{{friend.userId}}">
                                    <span>
                                        <img v-bind:src="friend.imgUrl">
                                    </span>
                                    <span>
                                        <span class="nickname-span">{{friend.nickname}}</span>
                                        <span class="status-span">{{friend.status == 1? "等待验证":"已添加"}}</span>
                                        <span class="call-span">打招呼</span>
                                    </span>
                                    <hr v-if="index!=newFriends.length-1">
                                </div>
                            </li>
                        </div>
                    </ul>
                </div>
                <li @click="openContact(isOpen)" class="title-li">
                    <b class="arrow-border" v-bind:class="isOpen? 'arrow-down':'arrow-right'"></b>
                    <span class="title-span">联系人</span>
                    <span class="fri-num">{{relationshipsCount == 0 ? "" : relationshipsCount}}</span>
                </li>
                <div class="rel-list" v-show="isOpen">
                    <div v-for="(fPinyin, index) in fPinyinList">
                        <p>{{fPinyin}}</p>
                        <hr>
                        <ul>
                            <li v-for="(relationship) in relationshipList[index]" @click="openDetail(relationship.userId)">
                                <a><img :src="relationship.imgUrl"></a><span>{{relationship.nickname}}</span>
                            </li>
                        </ul>
                    </div>
                    <!--
                    <p>A</p>
                    <hr>
                    <ul>
                        <li @click="openDetail()"><a><img src="imgs/konglk.jpg"></a><span>秦田田</span></li>
                        <li @click="openDetail()"><a><img src="imgs/konglk.jpg"></a><span>秦田田</span></li>
                    </ul>
                    <p>B</p>
                    <hr>
                    <ul>
                        <li @click="openDetail()"><a><img src="imgs/konglk.jpg"></a><span>秦田田</span></li>
                        <li @click="openDetail()"><a><img src="imgs/konglk.jpg"></a><span>秦田田</span></li>
                    </ul>-->
                </div>
            </ul>
        </div>
    </div>
    <div class="right">
        <!--聊天窗口-->
        <div v-show="isShow">
            <div class="separator"></div>
            <div class="chat-person">
                <span>{{chatPerson.nickname}}</span>
            </div>
            <div class="chat-area" id="chat-area" @scroll="scrollEvent">
                <ul>
                    <li v-for="message in messages">
                        <div v-if="message.sendId==user.userId">
                            <a class="myself"><img v-bind:src="user.imgUrl"></a>
                            <div v-if="message.msgType==3">
                                <a><img :src="sharedObject.imgUrl+'/'+message.content" class="myself-content"></a>
                            </div>
                            <div v-if="message.msgType==0">
                                <span class="myself">{{message.content}}</span>
                            </div>
                        </div>
                        <div v-else>
                            <a class="other-person"><img v-bind:src="chatPerson.imgUrl"></a>
                            <div v-if="message.msgType==3">
                                <a><img :src="sharedObject.imgUrl+'/'+message.content" class="other-person-content"></a>
                            </div>
                            <div v-if="message.msgType==0">
                                <span class="other-person">{{message.content}}</span>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </li>
                </ul>
            </div>
            <div class="send-area">
                <div class="content-area">
                    <div class="menu-area">
                        <span class="menu-item">
                            <!--<i @click="propFile" class="fa fa-file fa-7x"></i>-->
                            <img @click="propFile" src="./imgs/file.png">
                        </span>
                    </div>
                    <div rows="4" class="content" v-on:keydown.enter="sendMsg">
                        <div class="img-area"></div>
                        <textarea rows="3"></textarea>
                    </div>
                </div>
                <div class="">
                    <button v-on:click="sendMsg" class="send-btn"><span>发送(S)</span></button>
                </div>
            </div>
        </div>
        <!--好友详情-->
        <div class="rel-detail" v-show="isOpenDetail">
            <div class="rel-title">
                <span class="name">{{friend.nickname}}</span>
                <img :src="friend.imgUrl">
            </div>
            <hr>
            <div class="rel-content">
                <ul>
                    <li><span class="title">备注名</span><span class="msg">{{friend.remark}}</span></li>
                    <li><span class="title">微信号</span><span class="msg">{{friend.userId}}</span></li>
                    <li><span class="title">来&nbsp;&nbsp;源</span><span class="msg"></span></li>
                </ul>
            </div>
            <button @click="sendMsgFromRelationship">发消息</button>
        </div>
    </div>
</div>
<script src="js/index.js"></script>
<script src="js/navigation.js"></script>
</body>
</html>