<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
<div id="app" class="container">
    <div class="left">
        <ul>
            <li>
                <a>
                    <img id="profile" v-bind:src="user.imgUrl">
                </a>
            </li>
            <li>
                <a>
                    <img src="imgs/p1.png">
                </a>
            </li>
            <li>
                <a>
                    <img src="imgs/p2.png">
                </a>
            </li>
            <li>
                <a>
                    <img src="imgs/p3.png">
                </a>
            </li>
            <li>
                <a>
                    <img id="settings" src="imgs/p4.png">
                </a>
            </li>
        </ul>
    </div>
    <div class="median">
        <div class="search">
            <i class="fa fa-search"></i>
            <input class="" id="search-input" type="text" placeholder=""/>
        </div>
        <div class="conversations">
            <ul>
                <li v-for="(conversation) in conversations"  v-bind:class="{active: conversation.isActive}">
                    <div v-on:click="showHistoryMessageByClick(conversation)">
                        <input type="hidden" value="{{conversation.destId}}">
                        <input type="hidden" value="{{conversation.msgId}}">
                        <span><img v-bind:src="conversation.imgUrl"></span>
                        <span>
                            <span class="nickname">{{conversation.nickname}}</span>
                            <span class="last-date">{{conversation.lastDate}}</span>
                            <span class="last-msg">{{conversation.lastMsg}}</span>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="right">
        <div class="separator"></div>
        <div class="chat-person">
            <span>{{chatPerson.nickname}}</span>
        </div>
        <div class="chat-area" id="chat-area" @scroll="scrollEvent">
            <ul>
                <li v-for="message in messages">
                    <div v-if="message.sendId==user.userId">
                        <a class="myself"><img v-bind:src="user.imgUrl"></a>
                        <span class="myself">{{message.content}}</span>
                    </div>
                    <div v-else>
                        <a class="other-person"><img v-bind:src="chatPerson.imgUrl"></a>
                        <span class="other-person">{{message.content}}</span>
                    </div>
                    <div class="clear"></div>
                </li>
            </ul>
        </div>
        <div class="send-area">
            <div class=""></div>
            <div class="content-area">
                <textarea rows="4" class="content" v-on:keyup.enter="sendMsg"></textarea>
            </div>
            <div class="">
                <button v-on:click="sendMsg" class="send-btn"><span>发送(S)</span></button>
            </div>
        </div>
    </div>
</div>
<script src="js/index.js"></script>
</body>
</html>