<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" type="text/css" href="css/login.css">

</head>
<body>
<div id="app" class="container">
    <div class="content">
        <div class="form">
            <div class="row">
                <input class="" type="text" placeholder="用户名" v-model="userId">
            </div>
            <div class="row">
                <input class="" type="password" placeholder="密码" v-model="pwd">
            </div>
            <div class="row">
                <button class="login-btn" v-on:click="login">登录</button>
            </div>
        </div>
    </div>
</div>
<script src="js/login.js"></script>
</body>
</html>